
/* Below is for the head */
.header {
  position: absolute;
  top:0;
  width: auto;
  height: 20%;
  background-color: black;
  color: black;
  z-index: 2;

}




/* Below is for the body */

body {
    /* background-color: lightgrey; */ 
    font-family: verdana;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}


#encrypt {
  position: absolute;
  top:30%;
  width: 20%;
  height: 10%;
  color: red;
  background-color: white;
  z-index: 8;
}
